<div class="col-md-4"></div>
<div class="col-md-4">
  <div *ngIf="updated" class="alert alert-success">
    <strong>Success</strong> Profile Updated.
  </div>
  <div *ngIf="error" class="alert alert-danger">
    <strong>Error</strong> {{error}}
  </div>
  <div *ngIf="newSignUp && profile" class="alert alert-info">
    <strong>Welcome to Locals:</strong>
    <p> Below is your profile. The areas marked with Red that are not filled in need your attention. Providing this information
      will help us to serve you with more accurate and useful information. </p>
    <ul>
      <li *ngIf="profile.county === ''">Please fill in your county</li>
      <li *ngIf="profile.area === ''">Please fill in your area</li>
    </ul>
  </div>
  <div *ngIf="profile" class="panel panel-default">
    <div class="panel-heading"><b>Profile: {{profile.firstName}} {{profile.secondName}}</b></div>
    <div class="panel-body">
      <form (ngSubmit)="profileSubmit()">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input name="email" [(ngModel)]="profile.email" type="email" class="form-control required" id="email" placeholder="Email"
            value="{{profile.email}}">
        </div>
        <div class="form-group">
          <label for="firstName">First name:</label>
          <input name="firstName" [(ngModel)]="profile.firstName" type="text" class="form-control required" id="firstName" placeholder="First name"
            value="{{profile.firstName}}">
        </div>
        <div class="form-group">
          <label for="secondName">Second name:</label>
          <input name="secondName" [(ngModel)]="profile.secondName" type="text" class="form-control required" id="secondName" placeholder="Second name"
            value="{{profile.secondName}}">
        </div>
        <div class="form-group">
          <label for="county">County:</label><br/>
          <label *ngIf="profile.county === ''" style="color:red;">We need this field!</label>
          <select name="county" [(ngModel)]="profile.county" class="form-control required" required id="county">
          <option type="text" value="">Please fill this in</option>
          <option *ngFor="let c of counties" [selected]="profile.county == c" [value]="c">{{c}}</option> 
        </select>
        </div>
        <div *ngIf="profile.county !== ''" class="form-group">
          <label for="area">Area:</label><br/>
          <label *ngIf="profile.area === ''" style="color:red;">This field will help find the relevant councillors!</label>
          <select name="area" [(ngModel)]="profile.area" class="form-control required" required id="area">
          <option type="text" value="">Please fill this in</option>
          <option *ngFor="let p of profileAreas[profile.county]" [selected]="profile.Area == p" [value]="p">{{p}}</option> 
        </select>
        </div>
        <button type="submit" class="btn btn-default">Update</button>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4"></div>