<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" #home href="#">Locals</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li isguest><a routerLink="" routerLinkActive="active">Home</a></li>
        <!-- id is replaced when a user is logged in --> 
        
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li isLoggedIn><a routerLink="/signup" routerLinkActive="active" class="pull-right">Sign Up</a></li>
        <li isLoggedIn><a routerLink="/login" routerLinkActive="active" class="pull-right">Login</a></li>
        <li isguest><a href="#" (click)="signOut()"  class="pull-right">Sign Out</a></li>
        <li *ngIf="userData" ><a routerLink="/profile/{{userData.id}}" routerLinkActive="active" class="pull-right">Profile</a></li>
        </ul>
     </div>
    </div>
</nav>
<nav>
  <router-outlet></router-outlet>
