<div class="container-fluid">
    <div class="row">
        <div *ngIf="error" class="alert alert-warning">
            <strong>Error</strong> Incorrect Details.
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-bottom:10px;">
            <p> {{message}} </p>
            <div id="google-signin"></div>
        </div>
        <div class="col-md-4 well">
            <form>
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="userEmail" name="name">
                <label for="token">Password</label>
                <input type="password" class="form-control" id="token" required [(ngModel)]="userAuthToken" name="token"> <br>
                <button type="button" class="btn btn-default" (click)="login()">Login</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>